<div class="container-fluid">
<% if resource.errors.present? %>
  <div class="alert alert-danger pull-right" id="alerts">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= devise_error_messages! %></div>
  <%end%>
<div class="col-md-5 col-sm-5 pull-right">
<h2 id="txt">Sign up</h2>
<div class="well">
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-primary btn-block btn-lg" do%>
    <i class="fa fa-google-plus fa-2x"></i> Sign Up with Google
    <%end%>
    <br />
  <% end -%>
<% end -%>
<div ><b><center>------------OR------------</center></b></div>


<p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-user fa-lg"></i></span>
  <input id="user_username" name="user[username]" class="form-control" type="text" placeholder="User Name">
</div>
<br>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-envelope fa-lg"></i></span>
  <input id="user_email" name="user[email]" class="form-control" type="email" placeholder="Email">
</div>
<br>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-camera-retro fa-lg"></i></span>
  <input id="user_avatar" name="user[avatar]" class="form-control" type="file">
</div>
<br>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-key fa-lg"></i></span>
  <input id="user_password" name="user[password]" class="form-control" type="password" placeholder="Password">
</div>
<br>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-link fa-lg"></i></span>
  <input id="user_password_confirmation" name="user[password_confirmation]" class="form-control" type="password" placeholder="Confirm Password">
</div>




<!-- 
<div class="input-group">
    <%= f.label :username %><br />
    
    <%= f.text_field :username, autofocus: true, placeholder: "User Name", class: "form-control input-width" %>
  </div> -->

  <!-- <div class="input-group">
    <%= f.label :profile_pic %><br />
    <%= f.file_field :avatar, class: "btn btn-default" %>
  </div> -->

  <!-- <div class="input-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control input-block" %>
  </div> -->
<!-- 
  <div class="input-group">
    <%= f.label :password %>

    <%= f.password_field :password, autocomplete: "off", :title => '8 characters minimum', :rel => 'tooltip', placeholder: "Password", class: "form-control" %>
  </div> -->

  <!-- <div class="input-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password", class: "form-control" %>
  </div> -->
<br>
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-default btn-block" %>
  </div>
<% end %>
</p>

</div>
</div>




<div class="col-md-7 visible-md visible-lg"><br><br><br></div>

<div class="col-md-7 visible-md visible-lg" id="demos">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%=link_to image_tag("moment.jpg"), '#', class: "frame" %>
        <div class="carousel-caption">
          <h3><%= image_tag "camera.png", class: "medium" %></h3>
          <br><br><br><br>
          <p>Capture precious memories all that u want and access anywhere anytime with <strong>KALBUM</strong>.</p>
        </div>
      </div>

      <div class="item">
      <%=link_to image_tag("wood2.jpg"), '#', class: "frame" %>
        <div class="carousel-caption">
          <h3><%= image_tag "cloudinary2.png", class: "medium" %></h3>
          <p><strong>KALBUM</strong> is integrated with cloud service to provide unintrupted service.</p>
        </div>
      </div>

      <div class="item">
        <%=link_to image_tag("responsive.jpg"), '#', class: "frame" %>
        <div class="carousel-caption">
          <h1>With Bootstrap.</h1>
<br><br>
          
          
        </div>
      </div>
    
      <div class="item">
        <%=link_to image_tag("all.jpg"), '#', class: "frame" %>
        <div class="carousel-caption">
          <h3><%= image_tag "like.png", class: "medium" %></h3>
          <p>Why to feel alone When U got a party behind. Now share your moments with others in <strong>KALBUM</strong>.</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>








</div>
<!--for filling up-->
<div class="col-md-12"><br><br></div>
</div>