<div class="container">
<div class="col-md-8">

<div class="well">
<h2>Forgot Your Password?</h2>
<small><p> Enter Your Email and follow the Instructions.</p></small>
</div>
<div class="well">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<% if resource.errors.present? %>
  <div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= devise_error_messages! %></div>
  <%end%>

  <div class="input-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: "Enter Your Email", autofocus: true, class: "form-control" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Send", title: "Send me reset password instructions", rel: "tooltip", class: "btn btn-default" %>
  </div><br>
<% end %>

<%= render "devise/shared/links" %>
</div>
<div class="forgetery hidden-sm hidden-xs">
<br>
</div>
</div>
</div>