<% @albums.each do |f| %>
<!-- <p class="well">name count is <%=f.name.length %></p> -->
<div class="col-xs-6 col-md-3 album">
		<div class="thumbnail rotate" id="photo_back">
		<% if f.photos.present? %>
		<td id="ex5"><%= link_to image_tag(f.photos.first.snaps_url(:medium)), user_album_path(@user.id,f.id)%> </td>
		<%else%>
			<td><%=link_to image_tag("water.jpg"), user_album_path(@user.id,f.id) %>
			</td>
		<%end%>
			 <div class="caption">
			<h3 ><a href="<%= user_album_path(@user.id,f.id) %>" class="btn btn-success btn-lg btn-block"><i class="glyphicon glyphicon-picture"></i> <%= f.name %>    <span class="badge"><%= f.photos.count %></span></a></h3>


			<div class="btn-group btn-group-justified" role="group">
			<div class="btn-group" role="group">
			<%= link_to edit_user_album_path(@user.id,f.id), remote: true, class: "btn btn-warning btn-xs" do %>
                        <i class="glyphicon glyphicon-pencil"></i> Edit
                        <%end%>
                        </div>
							<div class="btn-group">
							<%= link_to user_album_path(@user.id,f.id), :method => :delete, data: { confirm: "Are You Sure?"}, remote: true, class: "btn btn-danger btn-xs delete_album" do %>
                        <i class="glyphicon glyphicon-trash"></i> Delete
                        <%end%>
							</div>

			</div>
			</div>
		</div>
</div>
				<%end%>