<div class="container">

<div class="jumbotron" id="home">
<h1 class="text-success"><%= @album.name %>  <span class="label label-default"><%= @images.count %></h1>
<p>
<%= link_to new_user_album_photo_path(@user.id,@album.id),  class: "btn btn-primary btn-lg pull-right", role: "button" do %>
					    <i class="glyphicon glyphicon-plus"></i> Photo
					    <%end%><br></p>
</div>


<ol class="breadcrumb">
  <li><a href="<%= user_albums_path %>">Home</a></li>
  <li class="active"><%= @album.name %></li>
</ol>

<% if @images.present? %>
<div class="row line" id="photo-listings">
<!--Photo Listings-->
<%= render "photos" %>
</div>



<!--Pagination Setup-->
<% if @images.count <= 4 %>
<div id="pages-listing" class="hidden">
<%= render "pages" %>
</div>
<%else%>
<div id="pages-listing">
<%= render "pages" %>
</div>
<%end%>

<%else%>
<div class="row no-line">
<center>
<h1> <%= link_to new_user_album_photo_path(@user.id,@album.id),  class: "btn btn-warning btn-lg" do %>
					    <i class="glyphicon glyphicon-plus"></i> Photo
					    <%end%> </h1>
					    </center>
</div>
<!--filling-->
<div class="col-md-12"><br><br></div>
<%end%>

</div><!--Ending of the container-->
<script>
$(function(){
	
   $('.pagination a').attr('data-remote', 'true');
});


</script>