

<div class="container">
<ol class="breadcrumb">
  <li><a href="<%= tags_path %>">Tags</a></li>
  <li class="active"><%= @tag.tname %></li>
</ol>
<div class="jumbotron">
<h2><%= @tag.tname %></h2>
</div>


<div class="panel panel-default">
  <!-- Default panel contents ---->
  <div class="panel-heading">Photos</div>
  <div class="panel-body">
<div class="row">
<% @images.each do|f| %>
	
	<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
	<% if /missing.png/.match(f.snaps_url) %>
	<%else%>
	<br><%= link_to image_tag(f.snaps_url(:medium)), f.snaps_url %><br>
	
	
<p class="caption">
<b><%= f.title %></b>
<%= link_to "Go To Album", user_album_path(@user.id,f.album.id), class: "btn btn-primary pull-right", role: "button" %>
</p>
</div>
</div>
<%end%>
<%end%>
</div>
	</div>
	</div>
	</div>




